#header {
    display: flex;
    position: sticky;
    width: 100%;
    display: inline-block;
    align-items: center;
    height: 4rem;
    background-color: #00212b;
}

#title {
    float: right;
}